{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block nav %}
    {% with 'home' as site_section %}
        {{ block.super }}
    {% endwith %}
{% endblock nav %}
{% block content %}
                <h3>Scan History <small>URLs Previously Scanned</small></h3>
                {% if results %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>URL</th>
                                <th>Date/Time Scanned</th>
                                <th>Top Word</th>
                                <th>Num Occurrences</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for result in results %}
                            <tr>
                                <td><a href="{% url 'core:result' result_id=result.id %}" title="View Results">{{ result.url }}</a></td>
                                <td>{{ result.created_dt }}</td>
                                <td>{{ result.top_word.word }}</td>
                                <td>{{ result.top_word.num_occurrences }}</td>
                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                No URLs scanned yet.  <a href="{% url 'core:scan' %}" title="Scan a URL">Click here to scan one!</a>
                {% endif %}
{% endblock content %}
