{% extends "base.html" %}
{% block title %}Scan Results{% endblock title %}
{% block nav %}
    {% with 'scan' as site_section %}
        {{ block.super }}
    {% endwith %}
{% endblock nav %}
{% block content %}
                <h3>Scan Results</h3>
                <p class="lead">URL Scanned: <a href="{{ result.url }}" target="_blank">{{ result.url }}</a></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Top Words</th>
                            <th>Num Occurrences</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for word in result.words.all %}
                            <tr>
                                <td>{{ word.word }}</td>
                                <td>{{ word.num_occurrences }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <em>Scanned on {{ result.created_dt|date:"r" }}</em>
{% endblock content %}
