{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block nav %}
    {% with 'scan' as site_section %}
        {{ block.super }}
    {% endwith %}
{% endblock nav %}
{% block content %}
    <h3>Scan a URL</h3>
    {% if form.errors or form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <strong>ERRORS</strong>
        <button type="button" class="close" data-dismiss="alert">X</button>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {% for field in form %} 
            {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <form role="form" action="{% url 'core:scan' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="url">{{ form.url.label }}</label>
            <input type="url" class="form-control" id="url" name="url" placeholder="Example: https://www.example.com/">
        </div>
        <button type="submit" class="btn btn-default">Scan URL</button>
    </form>
{% endblock content %}
